gmp-map {
    height: 60vh;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10%;
}

#text, #stage {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(45deg, rgb(19, 73, 95), rgb(118, 75, 226), rgb(131, 115, 198), rgb(119, 211, 185));
}

.encabezado {
    background-color: #1a1831;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 25px;
    width: 100%;
    padding: 10px;
}

h1 {
    margin-top: .5%;
    margin-bottom: .5%;
}

.subtitulo {
    display: flex;
    justify-content: center;
    padding: 2%;
    font-size: 25px;
    color: white;
}

form {
    margin: 0 auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #00000080;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p {
    width: 100%;
    text-align: left;
    margin: 10px 0;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
}

input[type="radio"] {
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
}

.botones {
    display: flex;
    justify-content: center;
    width: 100%;
}

input[type="submit"], input[type="reset"] {
    padding: 15px 25px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: #0d57b9;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #1a2f50;
}

.direccion {
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
    color: white;
}

.direccion {
    margin-top: 5%;
    font-size: 25px;
    color: white;
}

@media (max-width: 768px) {
    .encabezado {
        padding: 20px;
    }
    
    .subtitulo {
        font-size: 18px; 
    }
    
    form {
        padding: 10px;
        width: 90%; 
        margin: auto;
    }
    
    input[type="text"], input[type="email"], input[type="tel"], input[type="date"] {
        width: calc(100% - 20px); 
    }

    .botones {
        flex-direction: column; 
        align-items: center; 
    }
    
    input[type="submit"], input[type="reset"] {
        width: 50%;
        margin: 5px 0;
    }
    
    .direccion {
        font-size: 18px; 
    }
    
    .ts-footer {
        padding: 50px 0; 
    }
}

.ts-footer {
    background: #1a1831;
    padding: 25px;
    color: #7a7a7a;
    font-size: 20px;
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #05842f;
    margin: 15% auto;
    padding: 30px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

.popup .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup .close:hover,
.popup .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #404042; 
}

::-webkit-scrollbar-thumb {
    background: #656a70; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
}
